<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-2">
                

                @ViewBag.v1
                <br />
                @ViewBag.v2

               
            </div>
        </div>
    </div>
</div>
